nats-py
asyncpg
pydantic-settings
pydantic
python-dotenv
redis
prometheus-client
structlog
pybreaker
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-asyncpg
